.sass-cache/
node_modules/
/log
*.rbc
/tmp
/db/*.sqlite3
/spec/tmp
.env
/.bundle
/vendor/bundle
public/
public/422.html
public/500.html
public/apple-touch-icon-precomposed.png
public/apple-touch-icon.png
public/favicon.ico
public/robots.txt
tmp
log/development.log
.DS_Store
app/.DS_Store
coverage
