
<h1>About The Site</h1>
<p>Site Info</p>

<h2>About The Developers</h2>
<!-- Christine Ash Section -->
  <section id='christine_ash'>
    <img src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/linkedin-128.png' alt='Photo of Christine Ash'/>
    <h3>Christine Ash</h3>
    <p>Some text here</p>
    <a href='https://www.linkedin.com/in/christine-ash-5a21743b/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/ChristineTheBrave' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='https://twitter.com/DaCuban_MOBstah?lang=en' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>

<!-- Robby Dore Section -->
  <section id='robby_dore'>
    <img src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/linkedin-128.png' alt='Photo of Robby Dore'/>
    <h3>Robby Dore</h3>
    <p>Some text here</p>
    <a href='https://www.linkedin.com/in/robby-dore-61b88910b/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/Rdore88' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>

<!-- Jennifer Oakes Section -->
  <section id='jennifer_oakes'>
    <img src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/linkedin-128.png' alt='Photo of Jennifer Oakes'/>
    <h3>Jennifer Oakes</h3>
    <p>Some text here</p>
    <a href='https://www.linkedin.com/in/jennifernicoleoakes/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/jenniferoakes' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='https://twitter.com/Jennifer_Oakes_?lang=en' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>
