<section>
<h3>CareerAtlas</h3>
<p>CareerAtlas, a location-based resource for jobs, uses WalkScore, GlassDoor, Indeed,
  and Google Maps APIs to provide job seekers a unique user experience and data set.
  The interface includes the ability to search for jobs via custom parameters,
  see job results populated on a map, and save jobs for future reference.
</p>
</section>

<section class='developer_section'>
<!-- Christine Ash Section -->
<section id='christine_ash' class='each_developer'>
  <img class='headshots' src='/img/christine_headshot.jpg' alt='Photo of Christine Ash'/>
  <h3>Christine Ash</h3>
  <p>Front End Developer</p>
  <section class='socialmediabuttons'>
    <a href='https://www.linkedin.com/in/christine-ash-5a21743b/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/ChristineTheBrave' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='https://twitter.com/TineTheBrave?lang=en' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>
</section>

<!-- Robby Dore Section -->
<section id='robby_dore' class='each_developer'>
  <img class='headshots' src='/img/robbie_headshot.jpg' alt='Photo of Robby Dore'/>
  <h3>Robby Dore</h3>
  <p>Back End Developer</p>
  <section class='socialmediabuttons'>
    <a href='https://www.linkedin.com/in/robby-dore-61b88910b/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/Rdore88' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='https://twitter.com/Rdore88' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>
</section>

<!-- Jennifer Oakes Section -->
<section id='jennifer_oakes' class='each_developer'>
  <img class='headshots' src='/img/jen_headshot.jpg' alt='Photo of Jennifer Oakes'/>
  <h3>Jennifer Oakes</h3>
  <p>Front End Developer</p>
  <section class='socialmediabuttons'>
    <a href='https://www.linkedin.com/in/jennifernicoleoakes/' class='btn btn-social-icon btn-linkedin'>
      <small class='fa fa-linkedin'></small>
    </a>
    <a href='https://github.com/jenniferoakes' class='btn btn-social-icon btn-github'>
      <small class='fa fa-github'></small>
    </a>
    <a href='https://twitter.com/Jennifer_Oakes_?lang=en' class='btn btn-social-icon btn-twitter'>
      <small class='fa fa-twitter'></small>
    </a>
  </section>
</section>
</section>
