<article class='create-user-form'>
  <p></p>
  <form class='form-inline search_form panel-default' name='create-user' ng-submit='userCtrl.createUser(userCtrl.user)'>
    <label for='name'>Name</label>
    <input name='name' type='text' class='form-control' placeholder='Name' ng-model='userCtrl.user.name'>


    <label for='email'>Email</label>
    <input name='email' type='text' class='form-control' placeholder='Email' ng-model='userCtrl.user.email'>

    <label for='password'>Password</label>
    <input name='password' type='password' class='form-control' placeholder='********' ng-model='userCtrl.user.password'>

    <label for='password_confirmation'>Password Confirmation</label>
    <input name='password_confirmation' type='password' class='form-control' placeholder='********' ng-model='userCtrl.user.password_confirmation'>

    <input type='submit' class='form_submit_button' value='Create User'>
  </form>
</article>
