
<form class='form-inline' name='create-user'>
  <label for='Name'>Name</label>
  <input name='name' type='text' class='form-control' placeholder='User Name'>


  <label for='email'>Email</label>
  <input name='email' type='text' class='form-control' placeholder='User Email'>

  <label for='password'>Password</label>
  <input name='password' type='password' class='form-control' placeholder='********'>

  <label for='password_confirmation'>Password Confirmation</label>
  <input name='password_confirmation' type='password' class='form-control' placeholder='********'>

  <button type='submit' class='form-control btn btn-success' value='Create User'>Create User</button>
</form>
