<article class='search-page' ng-class='{"search-page-form-hidden": jobCtrl.hideSearch}'>
  <p>
    <button
    ng-click='jobCtrl.toggleSearchForm()'
    ng-show='jobCtrl.hideSearch && !jobCtrl.displayedJob'
    class='form_submit_button'>Search</button>
  </p>
  <section class='search_form' ng-hide='jobCtrl.hideSearch'>
    <form class='panel-default' ng-submit='jobCtrl.submit(jobCtrl.search)'>
      <p class='panel_heading'>Map your next career move <small>&reg</small></p>

      <label for='jobtitle'>Job Title</label>
      <input
      type='text'
      class='form-control'
      placeholder='Job Title'
      required
      name='job_title'
      ng-model='jobCtrl.search.job_title'
      id='jobtitle'>

      <label for='jobtype'>Job Type</label>
      <select
        name='job_type'
        id='job_type'
        required
        class='form-control'
        ng-model='jobCtrl.search.job_type'
        type='option'>
        <option value='All job types'>All job types</option>
        <option value='Temporary'>Temporary</option>
        <option value='Part-time'>Part-time</option>
        <option value='Internship'>Internship</option>
        <option value='Contract'>Contract</option>
        <option value='Full-Time'>Full-Time</option>
      </select>

      <label for='radius'>Location</label>
      <select
        name='radius'
        id='radius'
        required
        class='form-control'
        ng-model='jobCtrl.search.radius'
        type='option'>
        <option value='0'>only within</option>
        <option value='1'>within 1 mile of</option>
        <option value='5'>within 5 miles of</option>
        <option value='10'>within 10 miles of</option>
        <option value='15'>within 15 miles of</option>
        <option value='20'>within 20 miles of</option>
        <option value='25'>within 25 miles of</option>
        <option value='50'>within 50 miles of</option>

        <label for='location'>(city, state, or zipcode)</label>
        <input
          class='form-control'
          type='text'
          id='location'
          name='location'
          size='28'
          maxlength='250'
          placeholder='  Arlington, VA'
          autocomplete='off'
          ng-model='jobCtrl.search.location'
          required>
        <input type='submit' class='form_submit_button' value='find jobs'>
      </form>
    </section>
    <section></section>
  </article>
  <map
  ng-show='!jobCtrl.displayedJob'
  center='{lat: 38.904149, lng: -77.017094}'
  pindrops='jobCtrl.jobs'
  markerclicked='jobCtrl.showJobInformation'>
</map>

<article ng-show='jobCtrl.displayedJob' class='jumbotron'>
  <section class='job-information'>
    <button href='#' ng-click='jobCtrl.displayedJob = !jobCtrl.displayedJob; jobCtrl.notification=null' class='job-info-button'>
      Back to Map
    </button>
    <input
      type='submit'
      name='Save'
      class='job-info-button'
      ng-click='jobCtrl.saveJob(jobCtrl.displayedJob.job_key)'
      ng-show='!jobCtrl.displayedJob.saved && jobCtrl.getAToken()'
      value='Save Job'>
    <p ng-show='jobCtrl.notification' class='job-saved-notification-message'>{{jobCtrl.notification}}</p>
    <section>
      <img class='thumbnail' alt='CompanyLogo' src='{{jobCtrl.displayedJob.glassdoorData.logo}}' ng-show='jobCtrl.displayedJob.glassdoorData.logo.length != 0'>
      <aside>
        <p class='job-title' id='job-title'>{{jobCtrl.displayedJob.job_title}}</p>
        <p class='company-name'>{{jobCtrl.displayedJob.company}}</p>
        <p class='job-location'><i class='fa fa-map-marker' aria-hidden='true'></i> {{jobCtrl.displayedJob.location}}</p>
      </aside>
    </section>
  </section>

  <aside class='walk-score-information'>
    <img src='/img/left-foot.svg' alt='Photo of left foot' class='foot-image'>
    <p>Walkscore: {{jobCtrl.displayedJob.walkscoreData.walk_score}}</p>
    <p class='walk-score-description'>{{jobCtrl.displayedJob.walkscoreData.description}}</p>
  </aside>
  <section class='icon-section'>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.overall_rating.length != null'>
      <h5>Overall</h5>
      <a class='glyphicon glyphicon-star' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.overall_rating}}</a>
    </aside>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.compensation_rating.length != null'>
      <h5>Compensation</h5>
      <a class='glyphicon glyphicon-usd' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.compensation_rating}}</a>
    </aside>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.culture_rating.length != null'>
      <h5>Culture</h5>
      <a class='glyphicon glyphicon-heart' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.culture_rating}}</a>
    </aside>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.leadership_rating.length != null'>
      <h5>Leadership</h5>
      <a class='glyphicon glyphicon-user' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.leadership_rating}}</a>
    </aside>
    <aside>
      <h5>Recommend to a Friend</h5>
      <a class='glyphicon glyphicon-sunglasses' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.recommend_to_friend_rating}}%</a>
    </aside>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.opportunity_rating.length != null'>
      <h5>Opportunity</h5>
      <a class='glyphicon glyphicon-briefcase' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.opportunity_rating}}</a>
    </aside>
    <aside ng-show='jobCtrl.displayedJob.glassdoorData.work_life_balance_rating.length != null'>
      <h5>Work-life Balance</h5>
      <a class='glyphicon glyphicon-home' aria-hidden='true'></a>
      <a class='badge badge-notify' aria-hidden='true'>{{jobCtrl.displayedJob.glassdoorData.work_life_balance_rating}}</a>
    </aside>
  </section>
  <p class='date-posted'>Posted {{jobCtrl.displayedJob.date_posted}}</p>
  <button class='apply_here apply_here_button'><a class='apply_here' ng-href="{{jobCtrl.displayedJob.url}}">Apply Here</a></button>
</article>
