<h1>Welcome to CareerAtlas <%= @user.name %>!</h1>

<p>Thank you for signing up for CareerAtlas.</p>
<p>
  Please contanct us with any questions or concerns by going to our
  <a href="https://careeratlas.herokuapp.com/#!/about-us">About Us Page</a>
</p>
