.developer_section {
 display: flex;
 text-align: center;
}

.each_developer {
  padding: 3em;
  background-color: $ThemeColorSeven;
  margin: 1em;
  color: $ThemeColorFour;
  .socialmediabuttons {
    padding: 0em;
  }
  .btn-social-icon {
    color: $ThemeColorFour;
  }
}



.headshots {
  height: 200px;
  width: 200px;
}

.about_us_section {
  background-image: url('/img/mapTwo.jpeg');
}
