.glyphicon-heart, .glyphicon-usd, .glyphicon-user, .glyphicon-sunglasses, .glyphicon-star, .glyphicon-briefcase, .glyphicon-home, .glyphicon-cog {
  font-size: 3.25em;
  color: $DreamThemeColorOne;
}
.glyphicon-heart:hover, .glyphicon-usd:hover, .glyphicon-user:hover, .glyphicon-sunglasses:hover, .glyphicon-star:hover, .glyphicon-briefcase:hover, .glyphicon-home:hover, .glyphicon-cog:hover {
  text-decoration: none;
}

.badge-notify {
  font-size: 2.45em;
  padding: 0.2em;
  background-color: $ThemeColorEight;
  color: $ThemeColorFive;
  position: relative;
  top: -18px;
  left: 2px;
}

.apply_here {
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25em;
  color: $ThemeColorFour;
  padding: 0.5em;
  padding: 0.65em;
  width: 100%;
  font-size: 1.5em;
}

.apply_here_button {
  background-color: $ThemeColorOne;
}

.apply_here:hover, .apply_here.active, .apply_here:active:focus, .apply_here:focus {
  text-decoration: none;
  cursor: pointer;
  color: $ThemeColorFour;
  background-color: $ThemeColorTwo;
}

.icon-section {
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  h5 {
    font-size: 1.45em;
  }
  aside {
    padding: 1em;
  }
}

.thumbnail {
  margin-top: 1em;
  height: 140px;
  width: 140px;
  border: 2px solid $DreamThemeColorTwo;
}

.jumbotron {
  margin: 2em;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 1em;
  p:first-child {
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.job-location {
  margin: 0em;
  display: inline;
}

.job-information {
  padding: 0.25em;
  section {
    display: flex;
    aside {
      align-self: center;
      margin: 1em;
      width: 100%;
    }
  }
}

.job-info-button {
  width: 100%;
  padding: 0.65em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.75em;
  border-radius: 0.25em;
  background-color: $ThemeColorOne;
  color: $ThemeColorFour;
  transition:.25s;
}

.job-info-button:hover,
.job-info-button.active,
.job-info-button:active:focus,
.job-info-button:focus {
  background-color: $ThemeColorThree;
  color: $ThemeColorFive;
}

.walk-score-information {
  padding: 0em;
  display: flex;
  background-color: $DreamThemeColorFive;
  box-sizing: border-box;
  border: 8px solid $DreamThemeColorTwo;
  border-radius: 0.25em;
  p {
    margin: 0em;
    text-align: center;
    font-weight: bold;
    padding: 1em 0em;
  }
}

.walk-score-description {
  font-style: italic;
}

.foot-image {
  height: 90px;
  width: 90px;
  transform: rotate(30deg);
}

.date-posted {
  text-align: center;
}

.job-saved-notification-message {
  text-align: center;
  font-style: italic;
  margin: 0em;
  color: red;
}
