.glyphicon-heart, .glyphicon-usd, .glyphicon-user, .glyphicon-sunglasses, .glyphicon-star, .glyphicon-briefcase, .glyphicon-home, .glyphicon-cog {
  font-size: 3.25em;
  color: $DreamThemeColorFour;
}

.badge-notify {
  font-size: 2.75em;
  background-color: $ThemeColorEight;
  color: $ThemeColorFive;
  position: relative;
  top: -18px;
  left: 2px;
}

.apply_here {
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25em;
  color: $ThemeColorSix;
  padding: 0.5em;
}

.apply_here_button {
  background-color: $ThemeColorNine;
}

.apply_here:hover, .apply_here:active, .apply_here:link, .apply_here:visited {
  text-decoration: none;
  cursor: pointer;
  color: $ThemeColorFive;
}

.icon-section {
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  h5 {
    font-size: 1.15em;
  }
}

.thumbnail {
  margin: 1em;
  height: 120px;
  width: 120px;
}

.jumbotron {
  margin: 2em;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding-top: 0em;
  p:first-child {
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.job-location {
  margin: 0em;
  padding-left: 1em;
}

.job-information {
  padding: 0.25em;
  section {
    display: flex;
    aside {
      align-self: center;
      margin: 1em;
    }
  }
}

.job-info-button {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  border-radius: 0.25em;
  background-color: $ThemeColorOne;
  color: $ThemeColorFour;
  transition:.5s;
}

.job-info-button:hover,
.job-info-button.active,
.job-info-button:active:focus,
.job-info-button:focus {
  background-color: $ThemeColorThree;
  color: $ThemeColorFive;
}

.walk-score-information {
  margin: 0em 1em 1em 1em;
  padding: 0em;
  display: flex;
  font-style: italic;
  background-color: $DreamThemeColorFive;
  box-sizing: border-box;
  padding: 0.25em 0.5em 0.25em 0.25em;
  border: 1px solid $DreamThemeColorThree;
  border-radius: 0.25em;
  p {
    margin: 0.5em;
    text-align: center;
    font-weight: bold;
  }
}

.foot-image {
  height: 80px;
  width: 90px;
  margin: auto;
}

.date-posted {
  text-align: center;
}
