.saved-jobs-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.saved-jobs {
  display: block;
  margin: 0.5em;
  section {
    background-color: $ThemeColorSix;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 1em;
    border: 3px solid $ThemeColorTwo;
    transition:.5s;
    &:hover {
      background-color: $DreamThemeColorTwo;
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 2em;
      padding-left: 2em;
    }
  }
  h4, p, button {
    padding: 0.5em;
  }
}

.more-information-section {
  .form_submit_button {
    margin: 1em;
  }
  .walkscore-description {
    font-size: 1.5em;
  }
}

.saved-jobs-apply-here-button {
  border-radius: 0.5em ;
  border-color: $DreamThemeColorFour;
  background-color: $ThemeColorOne;
  text-color: $DreamThemeColorFive;
  color: $ThemeColorFour;
  padding: 1em 2em;
  margin-top: 1em;
  font-weight: bold;
  text-decoration: none;
  transition:.5s;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.saved-jobs-apply-here-button:hover,
.saved-jobs-apply-here-button.active,
.saved-jobs-apply-here-button:active:focus,
.saved-jobs-apply-here-button:focus {
  background-color: $DreamThemeColorThree;
  a {
    color: $ThemeColorFive;
  }
  font-weight: bold;
  text-decoration: none;
}
