.search-page-form-hidden {
  height: 75px;
  background-color: $ThemeColorSix;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p {
    padding: 1em;
    button {
      padding: 0.5em 2em;
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.search_form {
  width: 88%;
  margin: auto;
  background-color: $ThemeColorTwo;
  padding: 2em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form_submit_button {
  font-size: 2em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  background-color: $ThemeColorOne;
  color: $ThemeColorFour;
  padding: 0.5em;
  transition:.5s;
}

.form_submit_button:hover,
.form_submit_button.active,
.form_submit_button:active:focus,
.form_submit_button:focus {
  background-color: $ThemeColorThree;
  color: $ThemeColorFive;
}

.panel-default {
  display: flex;
  flex-direction: column;
  .panel_heading {
    text-align: center;
    width: 100%;
    color: $ThemeColorFour;
    font-size: 1.75em;
    padding: 0em;
    small {
      font-size: 0.5em;
      position: relative;
      top: -8px;
      right: 5px;
    }
  }
  label {
    color: $ThemeColorFour;
    padding: 0.25em;
  }
}
