.btn-linkedin {
    transition:.5s;
}
.btn-linkedin:hover {
    background-color: #54A4CD;
}

.btn-github {
    transition:.5s;
}
.btn-github:hover {
    background-color: #54A4CD;
}

.btn-twitter {
    transition:.5s;
}
.btn-twitter:hover {
    background-color: #54A4CD;
}
