.btn-linkedin {
    transition:.5s;
}
.btn-linkedin:hover {
    background-color: #54A4CD;
}

.btn-github {
    transition:.5s;
}
.btn-github:hover {
    background-color: #54A4CD;
}

.btn-twitter {
    transition:.5s;
}
.btn-twitter:hover {
    background-color: #54A4CD;
}

.developer_section {
 display: flex;
 text-align: center;
}

.each_developer {
  padding: 3em;
}

.socialmediabuttons {
  padding: 0em;
}

.headshots {
  height: 200px;
  width: 200px;
}
