@media screen and (min-width: $TabletBreakPoint) {
  .navbar {
    font-size: 1.15em;
  }

  .glyphicon-heart, .glyphicon-usd, .glyphicon-user, .glyphicon-sunglasses, .glyphicon-star, .glyphicon-briefcase, .glyphicon-home, .glyphicon-cog {
    font-size: 5em;
  }

  .glyphicon-star + .badge {
    top: -30px;
    left: -2px;
  }

  .glyphicon-usd + .badge {
    top: -32px;
    left: -5px;
  }

  .glyphicon-heart + .badge, .glyphicon-sunglasses + .badge {
    top: -33px;
    left: -1px;
  }

  .glyphicon-user + .badge {
    padding: 4px;
  }

  .glyphicon-user + .badge {
    top: -40px;
    left: -10px;
  }

  .glyphicon-briefcase + .badge {
    top: -30px;
  }

  .glyphicon-home + .badge {
    top: -35px;
    left: -2px;
  }

  .badge-notify {
    font-size: 3em;
  }

  .apply_here {
    width: 20%;
    font-size: 1.15em;
  }

  .apply_here_button {
    display: block;
    margin: auto;
  }

  .developer_section {
    flex-direction: row;
  }

  .search_form {
    width: 65%;
  }

  .headshots {
    width: 250px;
    border-radius: 0.5em;
  }

  .each_developer {
    h3 {
      padding: 0.5em;
    }
    .btn-social-icon {
      size: 1em;
    }
  }
  .icon-section {
    width: 100%;
    margin: 0em;
    aside {
      margin: 1em;
      h5 {
        font-size: 2em;
      }
    }
  }

  .saved-jobs {
    width: 45%;
    h4 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .saved-jobs-section {
    flex-direction: row;
  }

  .saved-jobs-apply-here-button {
    font-size: .75em;
  }

  .saved-jobs {
    h4, p {
      padding: 0.25em;
    }
  }

  .foot-image {
    height: 130px;
    width: 130px;
    margin: 1em;
  }

  .badge-info {
    font-size: 1.15em;
  }

  .panel-default {
    label {
      font-size: 1.5em;
      font-weight: normal;
    }
  }

  .job-info-button {
    width: 15%;
    margin: 0.25em;
    display: inline-block;
    float: right;
    clear: both;
    font-size: 1.15em;
  }

  .job-information {
    section {
      aside {
        margin: 0em;
        padding: 0em 1em;
      }
    }
  }

  .thumbnail {
    width: 240px;
  }

  .walk-score-information {
    p {
      padding: 2em;
      font-size: 2em;
    }
  }

  .date-posted {
    font-size: 2em;
  }

  .company-name {
    font-size: 2em;
  }

  #job-title {
    font-size: 2em;
  }

  .more-information-button {
    padding: 0.5em;
  }
}
