$ThemeColorOne: #C0DFD9; //light teal
$ThemeColorTwo: #E9ECE5; //light mint
$ThemeColorThree: #B3C2BF; //dark mint
$ThemeColorFour: #3b3a36; //dark brown/black
$ThemeColorFive: #FFFFFF; //white
$ThemeColorSix: #F6F6F4; //light tan
$ThemeColorSeven: #7BA5A4;

//Potential second theme variables...
$DreamThemeColorOne: #c9c9c9; //dark grey
$DreamThemeColorTwo: #e3e3e3; //light grey
$DreamThemeColorThree: #9ad3de; //light aqua
$DreamThemeColorFour: #89bdd3; // light teal
$DreamThemeColorFive: #FFFFFF; //white

$PhoneLandscapeBreakPoint: 42em;
$TabletBreakPoint: 55em;
$DesktopBreakPoint: 70em;
